      
      <view left-buttons="leftButtons" right-buttons="rightButtons">
        <slide-box on-slide-changed="slideChanged(index)">
          <slide>
            <h3>Shopping just got a whole lot easier</h3>
            <div id="logo">
              <img src="http://code.ionicframework.com/assets/img/app_icon.png">
            </div>
            <p>
              Swipe and decide
            </p>
            <p>
              Makes sense right?
            </p>
          </slide>
          <slide>
            <h3>Using Shopr</h3>

            <div id="list">
              <h5>Just three steps:</h5>
              <ol>
                <li>Right is good</li>
                <li>Left is bad</li>
                <li>There is no step 3</li>
              </ol>
            </div>
          </slide>
          <slide>
            <h3>Let's Go!</h3>
<p><button ng-click="startApp()">Launch &raquo;</button></p>
          </slide>
        </slide-box>
       
  </view>